name: Multi-arch Docker Container

on:
  push:

jobs:
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image and push to Docker Hub and GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          context: ./docker/
          provenance: false
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/jakobilab/circtools/circtools:latest
          push: ${{ github.ref == 'refs/heads/master' }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
